@import 'tailwindcss';

/* @plugin 'tailwindcss-animate'; */
/* @plugin 'tailwind-scrollbar'; */

@variant dark (&:is(.dark *));

@theme {
  /* add lightmode colors here */
  --color-background: var(--color-stone-100);
  --color-foreground: var(--color-slate-950);

  --color-primary: var(--color-slate-950);
  --color-primary-foreground: var(--color-slate-50);
  
  --color-popover: var(--color-gray-50);
  --color-popover-foreground: var(--color-slate-950);

  --color-border: var(--color-stone-400);

  --color-accent: var(--color-green-600);
  --color-accent-foreground: var(--color-slate-950); /* variable not used yet*/

  --color-card: var(--color-gray-50);
  --color-card-border: var(--color-border);
  --color-card-foreground: var(--color-slate-950);

  --color-container: var(--color-black);
  --color-container-foreground: var(--color-slate-950);

  --text-xxs: 0.65rem;
  --breakpoint-xs: 500px;
  --breakpoint-2xl: 1350px;
}

@layer theme {
  .dark {
    --color-background: var(--color-slate-950);
    --color-foreground: var(--color-slate-50);

    --color-primary: var(--color-gray-50);
    --color-primary-foreground: var(--color-slate-950);

    --color-popover: var(--color-slate-950);
    --color-popover-foreground: var(--color-slate-50);

    --color-border: var(--color-gray-600);

    --color-accent-foreground: var(--color-slate-50); /* variable not used yet*/

    --color-card: var(--color-slate-950);
    --color-card-border: var(--color-border);
    --color-card-foreground: var(--color-slate-50);
  
    --color-container: var(--color-white);
    --color-container-foreground: var(--color-slate-50); /* variable not used yet*/
    
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor); /* default border color*/
  }
}


::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: var(--color-card) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
